.page-wrapper{
    position: relative;
}
.container-fluid2t,.container-fluid2b,.container-fluid3t,.container-fluid3b{
    width: 1000px;
    overflow:hidden;
    /* display: none; */
    /* position:absolute;
    top: 0;
    left: 0; */
}
.container-fluid1,
.container-fluid4{
    width: 100%;
    overflow:hidden;
    display: none;
    position:absolute;
    top: 0;
    left: 0;
}
.sub_sidebarnav1,.sub_sidebarnav2{
    display: none;
}
.sub_sidebarnav1 p,.sub_sidebarnav2 p{
    width: 240px;
    height: 30px;
    line-height: 30px;
   text-indent: 50px;
   font-size: 14px;
   color:#54667a;
}
.row{
    padding-left: 20px;
    /* z-index: 1; */
}

